<h4 class="text-center text-2xl font-bold mb-6">{{ titulo }}</h4>

<div class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-200 shadow-md rounded-lg" style="width: 90%;">
    <thead>
      <tr class="bg-gray-800 text-white">
        @for (columna of columnas; track $index) {
        @if (columna !== '__V') {
        <ng-container>
          <th class="py-2 px-4 text-center">{{ formatearNombreDeColumnas(columna) }}</th>
        </ng-container>
        }
        }
        <th class="py-2 px-4 text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (item of data; track $index) {
      <tr class="even:bg-gray-100 odd:bg-white">
        @for (columna of columnas; track $index) {
        @if (columna !== '__V') {
        @if (isFecha(item[columna])) {
        <ng-container>
          <td class="py-2 px-4 text-center">{{ item[columna] | date : "mediumDate" : "UTC" }}</td>
        </ng-container>
        } @else {
        <ng-container>
          <td class="py-2 px-4 text-center">{{ item[columna] }}</td>
        </ng-container>
        }
        }
        }

        <td class="py-2 px-4 text-center">
          <button type="button" class="bg-blue-500 text-white py-1 px-3 rounded hover:bg-blue-600 transition"
            (click)="enviarInformacion(item)">
            Info
          </button><br><br>
          <button type="button" class="bg-red-500 text-white py-1 px-3 rounded hover:bg-red-600 transition ml-2"
            (click)="eliminar(item)">
            Eliminar
          </button><br><br>
          <button type="button" class="bg-green-500 text-white py-1 px-3 rounded hover:bg-green-600 transition ml-2"
            (click)="actualizar(item)">
            Actualizar
          </button><br>


      </tr>
      }
    </tbody>
  </table>
</div>
