.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1566345984367-fa2ba5cedc17?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.content {
  flex-grow: 1;
  overflow-y: auto;
}
