.text{
  font-size: 50px;
  color: red;
  font-weight: bold;
}
.container{
  display:100%;
  padding: 0%;
  margin-left: 50px;
}

.tabla{
  flex-grow: 1;
}
footer{
  margin-bottom: 0;
  width: 100%;

}
