<!-- <button (click)="cambioArticulo()">Articulos</button>
<button routerLink="cliente">clientes</button>
<button routerLink="imagen">Imagenes</button>
<button (click)="cambioInicio()">Inicio</button> -->



<section class="bg-white" style="margin-left: 64px">
  <div class="items-center py-4 lg:grid lg:grid-cols-2 lg:py-14 px-4">
    <div
      class="font-dark text-pretty text-center md:text-balance text-gray-500 sm:text-2xl dark:text-gray-900"
    >
      <h1 class="">SOLUCIONES DE TECNOLOGIA PARA TU EMPRESA</h1>
      <br /><br />

      <p class="mb-8 text-neutral-950 font-sans">
        Optimiza tu empresa tecnológica con nuestra solución todo en uno:
        Gestión de Ventas Relación con Clientes Gestión de Proyectos Análisis
        Avanzados Seguridad Únete a las empresas líderes.<br /><br />
        ¡Empieza hoy!
      </p>
    </div>
    <div class="imagen-inicio">
      <img
        class="w-full max-h-none rounded-lg"
        src="https://img.freepik.com/foto-gratis/energia-nuclear-ia-innovacion-futura-tecnologia-disruptiva_53876-129784.jpg?w=740&t=st=1716500553~exp=1716501153~hmac=c688b3c14ffd80b161ab392c8401f6f10aa3b786cd3ccfde08edcc4ded5fe372"
        alt="office content "
      />
    </div>
  </div>
</section>

